@keyframes rotateRWB {
  0% {
    background-position: 0em 0em;
  }
  100% {
    background-position: 100em 100em;
  }
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #e5e5e5;
}

h1, h2, h3, h4, h5, h6, strong {
  color: #3498db;
}

strong {
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1em;
  margin-left: 2em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Shrikhand', cursive;
  margin: 0;
  font-size: calc(800% + 1vmin);
  line-height: 110%;
  padding: 0 1em;
}
.backgroundcliptext h1, .backgroundcliptext h2, .backgroundcliptext h3, .backgroundcliptext h4, .backgroundcliptext h5, .backgroundcliptext h6 {
  background: #e74c3c;
  background: linear-gradient(to bottom, #3498db 0%, #3498db 33%, #fff 33%, #fff 66%, #e74c3c 66%, #e74c3c 100%);
  background-repeat: repeat;
  background-size: 100% 100%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: rotateRWB 100s linear 1s 1000;
}

.c-btn {
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
  border: 1px solid #3498db;
  border-radius: 3px;
  display: inline-block;
  padding: .5em 1em;
  line-height: 1em;
  text-decoration: none;
  color: #3498db;
  margin-left: 1em;
  background: #fff;
  transition: .3s all ease-in-out;
}
.c-btn:hover {
  background: #3498db;
  color: #fff;
}
