<html>
<head>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<style>
body {
  margin-top:20px;
}
.panel-body:not(.two-col) {
  padding:0px
}
.glyphicon {
  margin-right:5px;
}
.glyphicon-new-window {
  margin-left:5px;
}
.panel-body .radio,.panel-body .checkbox {
  margin-top: 0px;margin-bottom: 0px;
}
.panel-body .list-group {
  margin-bottom: 0;
}
.margin-bottom-none {
  margin-bottom: 0;
}
.panel-body .radio label,.panel-body .checkbox label {
  display:block;
 }
.center{
  text-align: center;
}
ul#menu li {
    display:inline;
}
</style>

</head>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <a class="navbar-brand" href="#">Voting Machine</a>
</nav>
<body>
  <br>
  <br>
<div class="container">
  <div class="col-md.text-center">
      <div class="panel panel-primary">
          <div class="panel-heading">
              <h3 class="panel-title">
                  <span class="glyphicon glyphicon-hand-right"></span>Results</h3>
          </div>
          <div class="panel-body">
            <!-- <ul>
              {% for x in voters %}
              <li>{{ x }}<li>
              {% endfor %}
              {% for i in votes %}
              <li>{{ i }}<li>
              {% endfor %}
            </ul> -->

  <div class="col-xs-6">
  <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th class="col-md-1">Candidates</th>
                </tr>
              </thead>
              <tbody>
                {% for x in voters %}
                <tr>
                  <td class="col-md-1">{{ x }}</td>
                </tr>
                {% endfor %}

              </tbody>
            </table>
          </div>
</div>
  <div class="col-xs-6">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th class="col-md-1">Votes</th>
                </tr>
              </thead>
              <tbody>
                {% for i in votes %}
                <tr>
                  <td class="col-md-1">{{ i }}</td>
                </tr>
                {% endfor  %}


              </tbody>
            </table></div>

          </div>
        </div>
      </div>
    </div>

</body>
</html>
