<html>
<head>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<style>
body {
  margin-top:20px;
}
.panel-body:not(.two-col) {
  padding:0px
}
.glyphicon {
  margin-right:5px;
}
.glyphicon-new-window {
  margin-left:5px;
}
.panel-body .radio,.panel-body .checkbox {
  margin-top: 0px;margin-bottom: 0px;
}
.panel-body .list-group {
  margin-bottom: 0;
}
.margin-bottom-none {
  margin-bottom: 0;
}
.panel-body .radio label,.panel-body .checkbox label {
  display:block;
 }
.center{
  text-align: center;
}
</style>
</head>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <a class="navbar-brand" href="#">Voting Machine</a>
</nav>
<body>
<br>
<br>
<div class="container">
  <div class="col-md.text-center">
      <div class="panel panel-primary">
          <div class="panel-heading">
              <h2 class="panel-title">
                  <span class="glyphicon glyphicon-hand-right"></span>Registration</h2>
          </div>
          <div class="panel-body">
            <form method="POST" action="/saveinfo">
            <div class="form-group">
              <label for="firstName">First Name</label>
              <input name="firstName" type="firstname" class="form-control" id="firstName" aria-describedby="emailHelp" placeholder="First Name">
            </div>
            <div class="form-group">
              <label for="lastName">Last Name</label>
              <input name="lastName" type="lastName" class="form-control" id="lastName" placeholder="Last Name">
            </div>
            <div class="form-group">
              <label for="exampleSelect2">ID number</label>
              <select multiple class="form-control" id="idnumber" name="idnumber">
                <option>1</option>
                <option>2</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
              </select>
            </div>
          </div>
          </div>
            <div class="panel-footer text-center">
              <button type="submit" class="btn btn-success btn-block btn-sm">Submit</button>
          </div>

  </form>
</div>
</div>
</div>
</body>
</html>
